.app {
    margin: 20px 30px;
}
.post {
    border: cornflowerblue 3px solid;
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}