.app {
    margin: 20px 30px;
}
.post {
    border: cornflowerblue 3px solid;
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.page-wrapper {
    display: flex;
}
.page {
    margin-right: 10px;
    padding: 10px;
    border: 2px solid cornflowerblue;
    cursor: pointer;
}
.page.active{
    border: 3px solid red;
}